@page "/editstyles"
@layout MinimumLayout

@code {
    // Variable only for representation purposes. Adjust to real variables values
    private double accumulatedEarnings = 1468.26;
    private int userID = 10;
    private string userUsername = "Username";
    private int clientsRegisteredByLink = 131;
    private int ordersReceived = 37;
    private int totalSoldProducts = 23;
    private List<string> items = new List<string> { "Shipments", "Exchanges", "Circuits", "Serching" };
    private double currentBalance = 1278.67;
    private List<string> countries = new List<string> { "Australia", "France", "Norway", "Germany", "Greece" };

    // User customizable styles board
    Dictionary<string, List<string>> editablesDict = new Dictionary<string, List<string>>();
    private List<string> editables = new List<string> { "font-family", "color", "font-weight", "background-color" };
    private List<string> FontFamily = new List<string> { "'Courier New', Courier, monospace", "Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif", "'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif", "'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', Verdana, sans-serif" };
    private List<string> Color = new List<string> { "darkgreen", "darkmagenta", "darkblue", "darkcyan", "darkolivegreen", "darkgoldenrod", "black" };
    private List<string> FontWeight = new List<string> { "100", "200", "300", "400", "500", "600", "700", "800", "900" };
    private List<string> BackgroundColor = new List<string> { "lightcoral", "lightsalmon", "lightcyan", "lightgreen", "lightpink", "lightseagreen", "lightskyblue", "lightgoldenrodyellow" };

    @inject NavigationManager NavigationManager
    private string rutaActual = "";
    protected override void OnInitialized()
    {
        // Obtener la ruta actual usando NavigationManager
        rutaActual = NavigationManager.Uri;

        // Inicializar el diccionario
        foreach (var editable in editables)
        {
            switch (editable)
            {
                case "font-family":
                    editablesDict.Add(editable, FontFamily);
                    break;
                case "color":
                    editablesDict.Add(editable, Color);
                    break;
                case "font-weight":
                    editablesDict.Add(editable, FontWeight);
                    break;
                case "background-color":
                    editablesDict.Add(editable, BackgroundColor);
                    break;
                // Agrega más casos según sea necesario para otras propiedades
            }
        }
    }
}


<div class="dashboard-container">
    <form class="trans">
        <text>Change some styles for your page!</text>
        <div class="trans-in">
            @foreach (var editableKey in editablesDict.Keys.Take(5))
            {
                <div class="editable-item-row">
                    <div class="editable-item">@editableKey.ToUpper()</div>
                    <div class="editable-item item-value">
                        <select name="@editableKey">
                            @foreach (var value in editablesDict[editableKey])
                            {
                                <option value="@value">@value</option>
                            }
                        </select>
                    </div>
                </div>
            }
        </div>
        <button type="submit">Save</button>
    </form>
    <div class="child c1 r1 child11">
        <img src="images/style-icon.png" alt="Configuration icon" title="Edit your page!" />       
    </div>
    <div class="child c1 r2 child12"> 
        <img src="images/products-in-icon.png" alt="PEDIDOS RECIBIDOS ESTE MES" title="Orders received this month" />
        <text class="texto">@ordersReceived</text>
    </div>
    <div class="child c1 r3 child13">
        <img src="images/accumulated-earnings.png" alt="ACCUMULATED EARNINGS" title="Accumulated earnings" />
        <text class="texto">$ @accumulatedEarnings</text>
    </div>
    <div class="child c2 r1 child21">
        <img src="images/url-icon.png" alt="Url icon" title="Unique affiliate URL" />
        <div class="dashboard-url-text">
            <label for="@rutaActual">AFFILIATE UNIQUE URL</label>
            <input type="text" id="@rutaActual" name="@rutaActual" value="@rutaActual" disabled />
        </div>
    </div>
    <div class="child c2 r2 child22">
        <text>Earnings in the past year</text>
        <img src="images/graphic.png" title="Earnings in the past year" alt="Earnings in the past year" />
    </div>
    <div class="child c2 r3 child23">
        <text class="child23text">Most sold products</text>
        <div class="child23ch">
            @foreach (var item in items.Select((value, context) => (value, context)))
            {
                <div class="item-cont">
                    <img src="images/randomProducts/item@(item.context).png" title="@item.value" />
                    <text class="texto">@item.value</text>
                </div>
            }
        </div>
    </div>
    <div class="child c3 r1 child31">
        <div class="logo-text">
            <img src="images/id-icon.png" alt="Id icon" title="ID" />
            <input type="text" value="@userID" id="@userID" name="@userID" disabled />
        </div>
        <div class="logo-text">
            <img src="images/username-icon.png" alt="Username icon" title="Username" />
            <input type="text" value="@userUsername" id="@userUsername" name="@userUsername"  disabled />
        </div>
    </div>
    <div class="child c3 r2 child32">
        <img src="images/clicked-link.png" alt="People registered through your link" title="People registered through your link" />
        <text class="texto">@clientsRegisteredByLink</text>
    </div>
    <div class="child c3 r3 child33">
        <text class="child33text">Buying from</text>
        <div class="child33ch">
            @foreach (var country in countries.Select((value, context) => (value, context)))
            {
                <div class="flag-cont">
                    <img src="images/flags/@(country.value).png" title="@country.value" />
                </div>
            }
        </div>

    </div>
    <div class="child c4 r1 child41">
        <img src="images/profile.png" alt="Profile icon" title="Upload a profile picture" />
    </div>
    <div class="child c4 r2 child42">
        <img src="images/sold.png" alt="Sold products" title="Sold products" />
        <text class="texto">@totalSoldProducts</text>
    </div>
    <div class="child c4 r3 child43">
        <img src="images/balance.png" alt="Current balance" title="Current balance" />
        <text class="texto">$ @currentBalance</text>
    </div>
</div>


