@page "/login"

@inject NavigationManager NavigationManager

<div class="login-out-container">
    <div class="login-page login-left">
        <img src="images/decent2.jpg" alt="Decentralised market">
    </div>
    <div class="login-middle">
        <div class="greetings-container">
            <div class="greetings">
                <h1>@Title</h1>
            </div>
            <div class="greetings2">
                <h1>@Subtitle</h1>
            </div>
        </div>
        <div class="login-container">
            <h2>@TextoH2</h2>
            <form class="login-form">
                <div class="form-group">
                    <input class="email" @bind="username" placeholder="     Email or username" type="text" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <input class="pass" @bind="password" placeholder="     Password" type="password" id="password" name="password" required>
                </div>
                <div class="form-group">
                    <button @onclick="VerificarInformacion" @onclick="@countRegByClick" @onclick:preventDefault="true" >@TextoH2</button>
                </div>
            </form>
        </div>
    </div>
    <div class="login-page login-right">
        <img src="images/cent2.jpg" alt="Centralised market">
    </div>
</div>


@code {
    [Parameter]
    public string Title { get; set; } = "Affiliates";
    [Parameter]
    public string Subtitle { get; set; } = "Program";
    [Parameter]
    public string TextoH2 { get; set; } = "Log In";
    string usernameExample = "exampleUsername";
    string passwordExample = "qwertyuiop";
    [Parameter]
    public string countRegByClick { get; set; } = ";";

    private int clientsRegisteredByLink = 131;

    private void IncrementCount()
    {
        clientsRegisteredByLink++;
    }

    public string? username;
    string? password;

    void VerificarInformacion ()
    {
        if (username == usernameExample && password == passwordExample)
        {
            // PARA GITHUB
            string url = $"/CirsaDesdeCero/dashboard/{username}";
            // PARA LOCALHOST (clientRegister solo debug)
            //string url = $"/dashboard/{username}";
            NavigationManager.NavigateTo(url);
        }
    }
}